body{
	background-image: url("bac.jpg");
	background-color: white;
	height: 300%;
}
.title{
	margin-top:auto;
	color: white;
	border:10px;
	border-width:10px;
	background-color: rgb(26, 24, 24);
	border-color: white;
}
.pizza {
    margin-left: 10%;
    margin-top: -1%;
    text-transform: uppercase;
}

.mynav {
    margin-left: 70%;
    margin-top: 1%;
    text-transform: uppercase;
}
.topnav {
    background-color: #151616;
    overflow: hidden;
    height: 10vh;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #202020;
}
.container{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	color:white;
}
.submitt{
	color:black;
	background-color: transparent;
	font-weight: bold;
	width: 40%;
}
.order{
    width:70%;
	height:100%;
	margin-right:10%;
	margin-left: 40%;
	padding:0px;
	margin-top:30%;
	border-color: rgb(31, 30, 30);
	border-radius: 5px;
	clear:both;
	overflow:hidden;
	padding:10px;
	position: relative;
	text-align: center;
	color:black;
}
p{
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 10px;
	margin-bottom: 10%;
	overflow: hidden;	
	background-color: transparent;
}
footer{
	text-align: center;
	font-weight: bold;
	font-style: italic;
	background-color: rgb(27, 26, 26);
	border:10px;
	border-width:10px;
	color: black;
}
#select{
	background-color: transparent;
	height: 30px;
	width: 50%;
	border-radius: 0px;
	overflow: hidden;
	color:rgb(27, 26, 26);
}
#select2{
	background-color: transparent;
	height: 30px;
	width: 50%;
	border-radius: 0px;
	margin-left: 14%;
	color:rgb(27, 26, 26);
}
#select3{
	background-color: transparent;
	height: 30px;
	width: 50%;
	border-radius: 0px;
	margin-left: 3%;
	color:rgb(27, 26, 26);
}
.btn{
	margin-left: 5%;
	font-style: inherit;
	font-weight: bold;
	color:white;
}
.send{
	color:black;
	display: flex;
    justify-content: center;
	align-items: center;
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 20px;
}
.card-body{
	margin-right: -30%;
	margin-left: -5%;
	margin-top: 5%;
	width: 170%;
	color:black;
}
.card-title{
	text-align:center;
	margin-right: 15%;
}
#inputnumber{
	background-color: transparent;
	height: 10%;
	width: 230%;
	border-radius: 0px;
	margin-left:-5%;
	margin-top: -15%;
	color:rgb(14, 13, 13);
}
.mynavv{
	background-color:transparent;
	color: black;
}
#about{
text-align: justify;
margin-bottom: 5%;
}
.paragraph{
	color: black;
	margin-left: 10%;
	text-align: center;
}
#contact{
text-align: left;
margin-left: 5%;
text-align: center;
}
@media only screen and (max-width: 375px) {
    body {
        width: 90%;
        font-size: 18px;
    }

    .order {
        width: 110%;
    }

    .container{
        grid-template-columns: repeat(1,1fr);
    }

    #select{
        margin-bottom: 5%;
    }
    
